.card-400 {
  width: 380px;
  max-height: 380;
}

.root{
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    font-family: 'Pacifico', cursive;
    color: #164d59
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

.login-card {
  width: auto;
}

.login-card-header{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
}

.padded{
    margin: 20px;
}

.centrino{
    left: 50%;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


