.iconz{
    font-size: 18px;
    margin-right: 6px;
}

.raleway{
    font-family: 'Raleway', sans-serif;
}

.yo-7{
    background-color: #B0B0B0;
    margin-left: 70px;
}
.yo-6{
    background-color: #B8B8B8 ;
    margin-left: 60px;
}
.yo-5{
    background-color: #C0C0C0 ;
    margin-left: 50px;
}
.yo-4{
    background-color: #C8C8C8 ;
    margin-left: 40px;
}
.yo-3{
    background-color: #D0D0D0 ;
    margin-left: 30px;
}
.yo-2{
    background-color: #D8D8D8 ;
    margin-left: 20px;
}
.yo-1{
    background-color: #E0E0E0 ;
    margin-left: 10px;
}
.yo-0{
    background-color: #FFFFFF ;
    margin-left: 0px;
}


