
.yo-7{
    background-color: #B0B0B0;
    margin-left: 21px;
}
.yo-6{
    background-color: #B8B8B8 ;
    margin-left: 18px;
}
.yo-5{
    background-color: #C0C0C0 ;
    margin-left: 15px;
}
.yo-4{
    background-color: #C8C8C8 ;
    margin-left: 12px;
}
.yo-3{
    background-color: #D0D0D0 ;
    margin-left: 9px;
}
.yo-2{
    background-color: #D8D8D8 ;
    margin-left: 6px;
}
.yo-1{
    background-color: #E0E0E0 ;
    margin-left: 3px;
}
.yo-0{
    background-color: #FFFFFF ;
    margin-left: 0px;
}


