.card-400 {
  width: 380px;
  max-height: 380;
}

.root{
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    font-family: 'Pacifico', cursive;
    color: #164d59
}

.login-card {
  width: 500px;
}

.login-card-header{
    font-family: 'Great Vibes', cursive;
    font-size: 36px;
    text-align: center;
}

.padded{
    margin: 20px;
}

.login-button{
    left: 50%;
    margin: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.json{
    font-family: 'Inconsolata', monospace;
}

.fatButton {
    height: 60px;
    width: 120px;
    font-size: 24px;
    }

textarea {
    resize: none;
}
