<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <p class="brand">IcwsJs</p>
      </a>

    </div>
    <div class="nav navbar-nav navbar-right github">
      <div class="ipad">
        <span *ngIf="session.loggedOn"  style="margin-right:20px; font-size: 16px">Server: {{session.server.serverName}} - Session ID: {{session.sessionId}}</span>
        <a href="https://github.com/a-boujane/icws-js"><span>Github</span></a></div>
    </div>
  </div>

</nav>
<navigator></navigator>
<connection [session]="session"></connection>
<messenger [session]="session"></messenger>