<div *ngIf="session.loggedOn">
    <md-card class="messenger-card">
        <md-card-content>
            <md-chip-list>
                <label class="raleway">Select the HTTP Method :</label>
                <md-chip *ngFor="let method of methods" [selected]="method===selectedMethod" (click)="onSelect(method)" class="minyPad raleway">
                    {{method}}</md-chip>
            </md-chip-list>
            <md-input-container class="pad">
                <input mdInput [(ngModel)]="session.sampleUrl" url class="raleway" placeholder="Request URL" size="100">
            </md-input-container>
            <md-grid-list cols=11 rowHeight="100px">
                <md-grid-tile colspan="5" rowspan="2">
                    <md-input-container>
                        <textarea class="json tiny" mdInput  cols="60" [(ngModel)]="headers" placeholder="Request Headers"></textarea>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile colspan="1" rowspan="5">
                    <button md-raised-button (click)="sendRequest()">Send!</button>
                </md-grid-tile>
                <md-grid-tile colspan="5" rowspan="2">
                    <md-input-container>
                        <textarea class="json tiny" disabled mdInput cols="60" placeholder="Response">{{responseHeaders}}</textarea>
                        <md-hint *ngIf="responseCode" align="end">Response Code : {{responseCode}}</md-hint>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile colspan="5" rowspan="3">
                    <md-input-container>
                        <textarea class="json request" mdInput cols="60" [(ngModel)]="body" placeholder="Request Body (in json format)"></textarea>
                    </md-input-container>
                </md-grid-tile>
                <md-grid-tile colspan="5" rowspan="3">
                    <md-input-container>
                        <textarea class="json request" disabled mdInput cols="60" placeholder="Response">{{responseBody}}</textarea>
                    </md-input-container>

                </md-grid-tile>
            </md-grid-list>
        </md-card-content>
    </md-card>


</div>