<md-card class="messenger-card">
    <md-card-content>
        <md-chip-list>
            <label class="raleway">HTTP Method :</label>
            <md-chip *ngFor="let method of methods" [selected]="method===selectedMethod" (click)="onSelect(method)" class="minyPad raleway">
                {{method}}</md-chip>
            <md-chip color="accent" selected="true" style="float:right" (click)= "logout()" class="raleway">Logout</md-chip>
        </md-chip-list>
        <md-input-container class="pad">
            <input #urlElement mdInput [(ngModel)]="url" url class="raleway" (blur)="true" placeholder="Request URL" size="400">
        </md-input-container>
        <md-chip-list *ngIf="query_params.length>0">
            <label class="raleway">Query params :</label>
            <md-chip class="minyPad raleway"
                *ngFor="let query of query_params" 
                 (click)="addOrRemoveQuery(query,urlElement)"
                [selected]= "selected_query_params.indexOf(query)!==-1">
                {{query}}</md-chip>
        </md-chip-list>
        <md-grid-list cols=11 rowHeight="fit">
            <md-grid-tile colspan="5" rowspan="1">
                <md-input-container>
                    <textarea class="json tiny" mdInput cols="60" [(ngModel)]="headers" placeholder="Request Headers"></textarea>
                </md-input-container>
            </md-grid-tile>
            <md-grid-tile colspan="1" rowspan="4">
                <button md-fab color="primary" (click)="sendRequest()">
                    <md-icon style="margin-left:5px">send</md-icon>
                </button>
            </md-grid-tile>
            <md-grid-tile colspan="5" rowspan="1">
                <md-input-container>
                    <textarea class="json tiny" disabled mdInput cols="60" placeholder="Response Headers">{{responseHeaders}}</textarea>
                    <md-hint *ngIf="responseCode" align="end">Response Code : {{responseCode}}</md-hint>
                </md-input-container>
            </md-grid-tile>
            <md-grid-tile colspan="5" rowspan="3">
                <md-input-container>
                    <textarea class="json request" mdInput cols="60" [(ngModel)]="body" placeholder="Request Body (in json format)"></textarea>
                </md-input-container>
            </md-grid-tile>
            <md-grid-tile colspan="5" rowspan="3">
                <md-input-container>
                    <textarea class="json request" disabled mdInput cols="60" placeholder="Response">{{responseBody}}</textarea>
                </md-input-container>
            </md-grid-tile>
            <md-grid-tile colspan="11" rowspan="1">
                <md-input-container>
                    <textarea class="json tiny" disabled mdInput cols="120" placeholder="Messaging">{{messaging}}</textarea>
                </md-input-container>
            </md-grid-tile>
        </md-grid-list>
    </md-card-content>
</md-card>